<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Project</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/a9db96059e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="index.html">Ecommerce</a>
        </div>
        <div class="right">
            <ul>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Sign In</a></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="card-wrapper">
            <div class="card-header">
                <a href="product-details.html">
                    <img src="./photos/p1.jpg" alt="photo">
                </a>
                <div class="card-body">
                    <div class="card-body-wrapper"> 
                        <a href="product-details.html">
                            <h3>Nike Slim Shirts</h3>
                        </a>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <p>$120</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card-header">
                <a href="product-details.html">
                    <img src="./photos/p2.jpg" alt="photo">
                </a>
                <div class="card-body">
                    <div class="card-body-wrapper"> 
                        <a href="product-details.html">
                            <h3>Nike Slim Shirts</h3>
                        </a>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <p>$120</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card-header">
                <a href="product-details.html">
                    <img src="./photos/p3.jpg" alt="photo">
                </a>
                <div class="card-body">
                    <div class="card-body-wrapper"> 
                        <a href="product-details.html">
                            <h3>Nike Slim Shirts</h3>
                        </a>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <p>$120</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card-header">
                <a href="product-details.html">
                    <img src="./photos/p4.jpg" alt="photo">
                </a>
                <div class="card-body">
                    <div class="card-body-wrapper"> 
                        <a href="product-details.html">
                            <h3>Nike Slim Shirts</h3>
                        </a>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <p>$120</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card-header">
                <a href="product-details.html">
                    <img src="./photos/p5.jpg" alt="photo">
                </a>
                <div class="card-body">
                    <div class="card-body-wrapper"> 
                        <a href="product-details.html">
                            <h3>Nike Slim Shirts</h3>
                        </a>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <p>$120</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card-header">
                <a href="product-details.html">
                    <img src="./photos/p6.jpg" alt="photo">
                </a>
                <div class="card-body">
                    <div class="card-body-wrapper"> 
                        <a href="product-details.html">
                            <h3>Nike Slim Shirts</h3>
                        </a>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <p>$120</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <h2>All right reserved</h2>
    </div>
</body>
</html>